<%= form_with(model: @post) do |form| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-warning"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    Заголовок<br>
    <%= form.text_field(:title, {:class => 'form-control'}) %>
  </p>

  <p>
    Содержание <br>
    <%= form.text_area(:body, {:class => 'form-control'}) %>
  </p>

  <div>
    <h4><%= form.label 'Картинка' %> <br></h4>
    <%= form.file_field :pictures, multiple: true %>
  </div>
  <br>
  <p>
    <%= form.submit"Сохранить", :class => 'btn btn-success' %>
  </p>
<% end %>
